#ourService{
    margin-top: 5rem;
}

section h2{
    text-align: center;
}

.our-service_wrap{
    max-width: 1435px;
    display: flex;
    width: 100%;
    margin-inline: auto;
    gap: 3.5rem;
    margin-top: 3rem;
}

.our-service_box{
    flex-direction: column;
    padding: 1.5rem 2.125rem 1rem 2.125rem;
    background-color: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.our-service_box h4{
    margin: 1.5rem 0 1rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.our-service_box p{
    font-size: 0.75rem;
}