footer{
    width: 100%;
    padding: 1.5rem;
    margin-top: 5rem;
}

.footer-wrap{
    max-width: 1500px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    max-width: 200px;
    width: 100%;
}

.footer_left-side p{
    font-size: 0.675rem;
    font-weight: 600;
    color: #5E6282;
    margin-top: 1.5rem;
}

.footer_right-side{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    gap: 1.5rem;
}

.footer_right-side__first-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.footer-icon{
    width: 57px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.footer_right-side__instagram-icon{
    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
}

.footer_right-side__second-row p{
    font-size: 1rem;
    letter-spacing: 0.01em;
    color: "#5E6282";
}

.footer_right-side__third-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.footer-copyright{
    padding: 5rem 0 1.75rem 0;
    text-align: center;
    font-size: .725rem;
    opacity: .75;
}